.events-create
    padding-top: 50px
    .wrapper
        width: 500px
        .file-upload-preview,
        .ticket-upload-preview
            .fileuploader
                border: 2px solid
                border-style: dashed
                border-radius: 10px
                cursor: pointer

                &.hasError
                    border-color: red

            .preview-box
                position: relative
                .preview
                    width: 100%
                    height: 180px
                    object-fit: cover
                button
                    background: rgb(0 0 0 / 40%)
                    border: none
                    position: absolute
                    bottom: 0
                    left: 0
                    right: 0
        .ticket-upload-preview
            select
                background: transparent
                border: 2px solid #fff
                border-radius: 5px
                color: #fff
                padding: 8px

                &.hasError
                    border-color: red
