.header
    background: transparent
    border-color: #152951 !important
    position: fixed
    top: 0
    right: 0
    left: 0
    z-index: 5
    .header-logo
        font-family: 'Anton', sans-serif
        font-size: 22px
        font-weight: 100
        img
            width: 40px
            height: 40px