@import "~bootstrap/scss/bootstrap"
@import "./scss/partials/Variables"
@import "./scss/partials/Globals"

body
    padding: 0
    margin: 0
    font-size: 16px
    color: #dbe2fb
    line-height: 28px
    overflow-x: hidden
    background: #001232

.App
    overflow: hidden

.grayed-bg
    display: none
    position: fixed
    inset: 0px
    z-index: 250
    background: rgba(0, 0, 0, 0.7)
    padding: 30px

    &.active
        display: block
    .spinner
        position: fixed
        top: 50%
        left: 50%

// Pages
@import "./scss/pages/Dashboard"
@import "./scss/pages/EventsCreate"
@import "./scss/pages/LoginAlert"
@import "./scss/pages/Event"
@import "./scss/pages/Events"
@import "./scss/pages/Ticket"
@import "./scss/pages/Profile"

// Components
@import "./scss/components/Header"
@import "./scss/components/SlickSlider"
@import "./scss/components/PermissionPopup"
@import "./scss/components/LoginModal"
@import "./scss/components/SwitchNetwork"
@import "./scss/components/SwitchNetworkSidebar"
@import "./scss/components/InfoMessage"